<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  {# <title>{{ config.extra.site_name }}</title> #}
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

  <nav>
    <div class="navflex">
      <a class="logo" href="/analytics">
        <img src="/me256.png" alt="self portrait of me, I have floofy copper/brown hair and a grey turtleneck"
          style="width:1.2em;height:1.2em;">

      </a>
      <a class="text" href="/analytics">
        ivy-lytics
      </a>
    </div>
  </nav>


  <section class="section">
    <div class="container">

      <div class="analytics">
        <h2>ordering:</h2>
        <a href="/analytics?page={{page}}&order_by=alphabetical">alphabetical</a>
        <a href="/analytics?page={{page}}&order_by=unique">unique</a>
        {% for route in routes %}
        <hr>

        <div class="inline">
          <a href="/analytics/path{{ route.path }}">
            <h2>{{route.path}}</h2>
          </a>

          <div>
            <dl>
              <dt>unique visitors</dt>
              <dd>{{ route.total_unique }}</dd>

              <dt>total requests</dt>
              <dd>{{ route.total_requests }}</dd>
            </dl>
          </div>
        </div>

        {% endfor %}
        <hr>

        <div class="inline">

          {% if page != 0 %}
          <a class="text" href="/analytics?page={{ page - 1 }}">
            [< previous ]
          </a>
          {% endif %}

          {% for i in range(end=total_pages) %}
          {% if i > 20 %}
          <p>...</p>
          {% break %}
          {% endif %}

          <a class="text" href="/analytics?page={{ i }}">
            [{{ i + 1 }}]
          </a>

          {% endfor %}

          {% if page < total_pages -1 %}
          <a class="text" href="/analytics?page={{ page + 1 }}">
            [ next >]
          </a>
          {% endif %}

        </div>

      </div>
    </div>
  </section>

  <footer role="contentinfo">
    <div class="footflex">
      <a>Site © ivy-lytics 2023-2024</a>
    </div>
  </footer>
</body>

</html>